/node_modules
/vendor
/docker/db/export/**
/docker/db/import/**
/src/Domain/vendor
/tools/vendor
.editorconfig
.env
.phpunit.result.cache
auth.json
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode